[user]
    name = username
    email = username@gmail.com
[credential]
    helper = store
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    s = status -s

    a = add
    aa = add -A
    ap = add -p

    d = diff
    ds = diff --stat
    dc = diff --cached

    cm = commit -m
    cv = commit -v
    cvs = commit -v -s
    ca = commit --amend -v

    b = branch
    bm = branch -m
    bd = branch -d
    ba = branch -a
    br = branch -r

    co = checkout
    cob = checkout -b

    rv = remote -v
    rr = remote rename
    rao = remote add origin
    rau = remote add upstream

    po = push origin

    fo = fetch origin
    fu = fetch upstream

    fp = format-patch

    m = merge

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"
[merge]
    tool = vimdiff
